<div class='col-md-6'>
<h1>Change Your Password</h1>
  <%= form_for(@user) do |f| %>

    <div class='form-group'>
      <%= f.label :password, 'Password:' %><br>
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control input' %>
      <br />
      <%= f.label :password_confirmation, 'Confirm Password:' %><br>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control input' %>
    </div>

    <%= f.submit 'Change Password', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', root_path, class: 'btn btn-danger' %>
  <% end %>
</div>